filebeat.inputs:
- type: docker
  combine_partial: true
  containers.ids:
  - "*"
  json.keys_under_root: true
  json.add_error_key: true
  json.message_key: log

output.elasticsearch:
  hosts: ["${ELASTIC_SEARCH_HOST}"]
  index: "filebeat-%{[beat.version]}-%{+yyyy.MM.dd}"

setup.template:
  name: "filebeat-%{[beat.version]}-%{+yyyy.MM.dd}"
  pattern: "*"