filebeat.prospectors:
- type: docker
  enabled: true
  paths:
    - /var/lib/docker/containers/*/*.log
  document_type: applog

output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["${ELASTIC_SEARCH_HOST}"]
  index: "docker-logs-%{+yyyy.MM.dd}"

setup.template:
  name: "docker-logs"
  pattern: "*"